body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    padding-left: 10px;

    font-family: 'Courier New', Courier, monospace;
}

button:hover{
    cursor: pointer;
}

#list{
    position: fixed;
    right: 0;

    background-color: #6f6f6f;
    color: white;
    width: 300px;
    height: 100%;
    padding-left: 30px;

    display: flex;
    flex-direction: row;
}