body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding-left: 10px;

    font-family: 'Courier New', Courier, monospace;
}

button:hover{
    cursor: pointer;
}

#section{
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.title{
    justify-self: center;
    align-self: center;
}

#fructe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.fruct{
    background-color: #d4d4d4;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    margin: 10px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fruct button{
    width: 80px;
}

#deleteBtn{
    justify-self: flex-end;
    align-self: center;
}

#list{
    background-color: #6f6f6f;
    color: white;
    width: 300px;
    height: 100%;
    padding-left: 30px;

    display: flex;
    flex-direction: row;
}