body{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 10px;

    font-family: 'Courier New', Courier, monospace;
}

button:hover{
    cursor: pointer;
}

#catalogElec{
    width: 60%;
}

#functions{
    display: flex;
    flex-direction: column;
}